* {
  box-sizing: border-box;
}
body {
  background-color: #212529;
}
h1,
h2 {
  color: #f8f9fa;
  text-align: center;
  margin-bottom: 2rem;
}
/* 0505 */
.flexBox {
  height: 300px;
  width: 300px;
  margin: 0 auto;
  background: #f5b199;
  display: flex;
  justify-content: center;
  align-items: center;
}
.insideBox {
  height: 100px;
  width: 100px;
  background: #44617b;
}
/* 0506 */
.card {
  width: 300px;
  margin: 0 auto;
  background: #fff;
}
.card-img {
  height: 315px;
  background: #5383c3;
}
.card-title {
  display: flex;
}
.card-name,
.card-price {
  font-size: 20px;
  padding: 14px;
  text-align: center;
  border: 1px solid black;
}
.card-name {
  flex-grow: 1;
}
.card-price {
  width: 130px;
}
.card-btn {
  color: white;
  font-size: 24px;
  padding: 14px;
  text-align: center;
  background: #616161;
}
/* 0509 */
.positionBox {
  width: 300px;
  height: 300px;
  background: #474a4d;
  position: relative;
  margin: 0 auto;
}
.orangeBox {
  width: 200px;
  height: 200px;
  background: #f7b977;
  position: absolute;
  right: 0;
}
.greenBox {
  width: 100px;
  height: 100px;
  background: #028760;
  color: white;
  font-size: 50px;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}
/* 0510 */
.flexBox0510 {
  width: 400px;
  height: 400px;
  background: #a73836;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.whiteBox0510 {
  width: 100px;
  height: 100px;
  background: #fff;
  margin: 50px 50px 0;
}
.whiteBox0510:last-child{
  align-self: flex-end;
}