body{
  background-color: #212529;
}
h1,h2{
  color:#f8f9fa;
  text-align: center;
  margin-bottom: 2rem;
}
.flexBox{
  height: 300px;
  width: 300px;
  margin: 0 auto;
  background: #f5b199;
  display: flex;
  justify-content: center;
  align-items: center;
}
.insideBox{
  height: 100px;
  width: 100px;
  background: #44617b;
}